body {
  --background_light_main: #f7f9fb;
  --background_light_gradient: linear-gradient(180deg,#f7f9fb,rgba(238,242,245,0.8) 116.16%);
  --background_light_icon: rgba(0,136,204,0.06);
  --background_light_blue: rgba(0,136,204,0.1);
  --background_dark_main: #232328;
  --background_dark_gradient: linear-gradient(0deg,#232328,#343437 101.47%);
  --background_dark_secondary: hsla(0,0%,100%,0.03);
  --background_gradient_light: linear-gradient(180deg,#fff,#f7f9fb 134.8%);
  --button_light_primary: #08c;
  --button_light_primary_hover: #0197e2;
  --button_light_primary_pressed: #0082c2;
  --button_light_secondary: rgba(246,248,251,0.8);
  --button_light_secondary_hover: #f4f7fa;
  --button_light_secondary_pressed: #f4f7fa;
  --button_dark_primary: #08c;
  --button_dark_primary_hover: #00a1f1;
  --button_dark_primary_pressed: #076c9f;
  --button_dark_secondary: hsla(0,0%,100%,0.06);
  --button_dark_secondary_hover: hsla(0,0%,100%,0.12);
  --button_dark_secondary_pressed: hsla(0,0%,100%,0.03);
  --button_dark_text: #07a0ec;
  --button_dark_secondary_text_hover: #5bc8ff;
  --button_dark_secondary_text_pressed: #0186c9;
  --button_light_primary_small: rgba(0,136,204,0.06);
  --button_light_primary_small_hover: rgba(0,136,204,0.3);
  --button_light_primary_small_pressed: rgba(0,136,204,0.03);
  --text_light_primary: #161c28;
  --text_light_secondary: #728a96;
  --text_dark_primary: #fff;
  --text_dark_secondary: hsla(0,0%,100%,0.7);
  --text_dark_gradient: linear-gradient(89.92deg,#06a1ef 28.51%,#69cdff 85.79%);
  --icon_light_primary: #08c;
  --icon_light_secondary: rgba(236,240,243,0.8);
  --icon_light_thirdly: #98b2bf;
  --icon_dark_primary: #02a8fb;
  --separator_light: rgba(123,148,160,0.2);
  --separator_dark: hsla(0,0%,100%,0.06);
  --black: #000;
  --covers_light_green: #caefd9;
  --hovered_link: #08c;
}

*, *::after, *::before{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Mulish', sans-serif;
  height: 1500px;
  background-color: var(--background_dark_main);

}

a{
  text-decoration: none;
}

/* Buttons */

.button{
  padding: 16px 24px;
  border-radius: 45px;
  color: #fff;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

.button .icon{
  width: 16px;
  margin-right: 8px;
}

.button:hover{
  background-color: var(--button_light_secondary_hover);
  color: #000;
}

.button-primary{
  background-color: var(--button_light_primary);
}
.button-primary:hover{
  background-color: var(--button_light_primary_hover);
}

.button-secondary{
  background-color: var(--button_light_secondary);
}


.banner{
  display:block;
  text-align: center;
  padding: 8px;
  background: linear-gradient(90deg,#9a6dfb -7.22%,#5dc7fc 109.17%);
  color: #fff;
  font-size: 12px;
}
.hero{
  background-color: var(--background_dark_main);
  color: #fff;
}

/* Nav */
nav{
  padding: 16px 0;
  position: sticky;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
}

nav .container{
  display: flex;
  justify-content: space-between;
  align-items: center
}
nav .links{
  display: flex;
  align-items: center;
}
nav .links a{
  color: #fff;
  padding: 0 16px;
  display: inline-block;
}

.container{
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.details{
  display: flex;
  padding: 128px 0;
}

/* Description */
.details .desc{
  width: 70%;
  padding-right: 32px;
}
.details .desc h1{
  font-size: 56px;
  margin: 0;
  font-weight: 800;
}
.details .desc h1 span{
  display: block;
}
.details .desc h1 span.ton-primary-color{
  color: #06a1ef;
}
.details .desc p{
  color: #ffffffb3;
  margin-bottom: 32px;
}




/* Ton */
.details .ton{
  width: 30%;
}




@media screen and (max-width: 1100px) {
  .details{
    flex-direction: column;
    align-items: center;
  }
}